body {
	padding: 0;
	margin: 0;
	font-family: 'Henny Penny', cursive;
	color: black;
    font-size: 16px;
    overflow-x: hidden;
    }
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}

section {
	padding-top: 113px	
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}

.header {
	background: url('../img/hellouin-halloween.jpg') no-repeat center top / cover;
	padding-top: 57px;
	color: #fff;
	padding-bottom: 422px
}

header a {
    color: #fff;

}

.logo {
    margin-right: 69px;

}

.menu {
	display: flex;
}

.menu li a {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.1em;
}

.menu li a:hover {
	border-bottom: 1px solid #fff;
}

.menu li {
	margin-right: 40px;
}

.tel {
	font-size: 17px;
	margin-left: auto;
	letter-spacing: 0.1em;
}

.nav {
	display: flex;
    align-items: center;
}

.offer {
	text-transform: uppercase;
	margin-top: 250px;
}

.offer p {
	font-size: 30px;
	letter-spacing: 0.1em;
}

.offer h1 {
	font-size: 100px;
	margin-bottom: 19px;
	margin-top: -9px;
	letter-spacing: 0.02em
}
.skill {
    border: 1px solid grey;
    box-shadow: 0 5px 5px 5px grey;
}

/* click */
a.obl{
    position: relative;
    display:block;
    color: white;
    text-decoration: none;
    text-align:center;
    width:225px;
    height: 50px;
	font-family: 'Henny Penny', cursive;
    font-size: 22px;
    letter-spacing: 2px;
    border-bottom: 2px solid transparent;
    margin-bottom: 200px;
    background: orange;
    border-radius: 30%;
    box-shadow: 0 5px 5px 5px;
}


a.obl:hover,a.obl:focus{
    outline: none;
    border-bottom: 2px solid #eee;
}

a.obl::before, a.obl:after{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    border: 12px double white;
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
    transform: translateX(-50%) translateY(-50%) scale(0.2);
}

a.obl:after{
    width: 60px;
    height: 60px;
    border-width: 6px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
}

a.obl:hover:before, a.obl:hover:after{
    -webkit-animation: pulsate 1.2s infinite;
    -moz-animation: pulsate 1.2s infinite;
    -ms-animation: pulsate 1.2s infinite;
    animation: pulsate 1.2s infinite;
}

@-webkit-keyframes pulsate{

30%{
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
}

    100%{
    opacity: 0.3;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.5);
    }

}

@-moz-keyframes pulsate{

30%{
    opacity: 1;
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
}

    100%{
    opacity: 0.3;
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.5);
    }

}

@-ms-keyframes pulsate{

30%{
    opacity: 1;
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
}

    100%{
    opacity: 0.3;
    -ms-transform: translateX(-50%) translateY(-50%) scale(0.5);
    }

}

@-keyframes pulsate{

30%{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

    100%{
    opacity: 0.3;
    transform: translateX(-50%) translateY(-50%) scale(0.5);
    }
}


.description {
	display: flex;

    margin-top: 40px;
}

.description p {
    font-family: 'Nunito Sans', sans-serif;
	width: 280px;
	text-align: justify;
    line-height: 1.62em;

}
.desc-right {
    width: 367px;
    text-align: center;
}
.desc-left  {
    width: 367px;
    margin-right: 170px;
    text-align: center;
}

.desc-center {
    width: 567px;
    margin-right: 170px;
    text-align: center;
}
.gallery {
	margin-top: 67px;
	display: flex;
	justify-content: space-between;
}

.gallery img {
	transition: all 0.5s ease;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

.footer-text {
	font-size: 15px;
	font-family: 'Henny Penny', cursive;

    padding: 114px 0 30px 0;
}

.footer-text p {
    margin-right: 67px;
    text-align: center;
}

 /*responsive*/

    /* 992px - 1200px */
    @media screen and (max-width: 1200px) {
        .container {
            width: 960px;
        }
        .description p {
            width: auto;
            text-align: center;
        }
    }
    
    /* 768px - 992px */
    @media screen and (max-width: 992px) {
        .container {
            width: 720px;
            margin-left: 30px;

        }
        .description p {
            width: 180px;
            text-align: justify;
        }
        .skill {
            margin-right: 20px;
        }
        .footer-text {
            margin-left: 180px;
        }
        .choose {
            text-align: center;
            padding-left: 150px;
        }

    }
    
    /* 576px - 768px */
    @media screen and (max-width: 768px) {
        .container {
            width: 540px;
        }
    }
    
    /* 320px - 576px */
    @media screen and (max-width: 576px) {
        .container {
            width:90%;
        }
        a.obl {
            width: 200px;
        }
        

    }